.image-carousel-container {
  position: relative;
}

.image-carousel-left {
  left: 0;
  margin-left: 1rem;
}

.image-carousel-img-container {
  height: 38vh;
  border-radius: 8px;
  overflow: hidden;
}

.image-carousel-img-container > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.image-carousel-right {
  right: 0;
  margin-right: 1rem;
}

.image-carousel-left,
.image-carousel-right {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  background: var(--white);
  height: 3rem;
  width: 3rem;
  z-index: 1;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.gallery-images-container {
  display: none;
}

@media screen and (min-width: 90em) {
  .image-carousel-left,
  .image-carousel-right {
    display: none;
  }

  .gallery-images-container {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    height: 10rem;
    margin-top: 1rem;
  }

  .image-container {
    height: 7rem;
  }

  .image-container > img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
  }

  .image-carousel-img-container > img {
    object-fit: cover;
  }
}
